@{
    // ViewData["Title"] = "Home Page";
    // Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
    bool userLoggedIn = ViewData["userId"] != null;
    string username = "";
    string userType = "";
    if (userLoggedIn)
    {
        username = ViewData["username"].ToString();
        userType = ViewData["userType"].ToString();
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - WebApplication</title>
    <link rel="stylesheet" href="css/rick.css"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>
<body>
@{
    Html.RenderPartial("Header");
}
@if (userType.Equals("student"))
{
    <div class="split-half right-half">
        <div class="centered">
            <button type="button" id="pendingButton" class="btn btn-secondary actionButton" onclick="location.href='@Url.Action("CurrentItems", "PendingItems", new {id = 2})'">Rate yourself and your peers in the group</button>
        </div>
    </div>
    <div class="split-half left-half">
        <div class="centered">
            <button type="button" id="markedButton" class="btn btn-secondary actionButton" onclick="location.href='@Url.Action("PastRounds", "Student")'">Check how well you performed in previous rounds</button>
        </div>
    </div>
}
else if (userType.Equals("admin"))
{
    <div class="split top-left">
        <div class="centered">
            <button type="button" id="pendingButton" class="btn btn-secondary actionButton" onclick="location.href='@Url.Action("CreateRound", "Round", new {id = 2})'">Create a template for a round for students</button>
        </div>
    </div>
    <div class="split top-right">
        <div class="centered">
            <button type="button" id="markedButton" class="btn btn-secondary actionButton" onclick="location.href='@Url.Action("CreateStudent", "Admin")'">Create a student account</button>
        </div>
    </div>
    <div class="split bottom-left">
        <div class="centered">
            <button type="button" id="markedButton" class="btn btn-secondary actionButton" onclick="location.href='@Url.Action("DeleteStudent", "Admin")'">Delete a student account</button>
        </div>
    </div>

    <div class="split bottom-right">
       
    </div>
}
else if (userType.Equals("teacher"))
{
    <div class="split top-right">
        <div class="centered">
            <button type="button" id="pendingButton" class="btn btn-secondary actionButton" onclick="location.href='@Url.Action("SelectRoundTemplate", "Round")'">Initialise a round for a specific group of students</button>
        </div>
    </div>
    <div class="split top-left">
        <div class="centered">
            <button type="button" id="markedButton" class="btn btn-secondary actionButton" onclick="location.href='@Url.Action("CreateTableGroup", "Teacher")'">Select Students and create a table group</button>
        </div>
    </div>
    <div class="split bottom-right">
        <div class="centered">
            <button type="button" id="markedButton" class="btn btn-secondary actionButton" onclick="location.href='@Url.Action("SelectGroup", "Teacher")'">View the data of a particular student or a group</button>
        </div>
    </div>
}
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>