@{
    ViewData["Title"] = "Home Page";
    Layout = null;
    
    bool userLoggedIn = false;
    string username ="";
    if (ViewData["username"] != null)
    {
        username = ViewData["username"].ToString();
        userLoggedIn = true;
    }
    string userType = ViewData["userType"].ToString();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - WebApplication</title>
    <link rel="stylesheet" href="css/rick.css"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Student Rubrics</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">

                </ul>
            </div>
            @if (userLoggedIn)
            {
                <div class="float-right">
                    <h4>Logged in as @username</h4>
                </div>
                <form class="form-inline" method="post" action="@Url.Action("Logout", "Login")">
                    <button class="btn btn-success my-2 my-sm-0 ml-5" type="submit">Log out</button>
                </form>
            }
        </div>
    </nav>
</header>
@if (userType.Equals("student"))
{
    <div class="split left">
        <div class="split left">
            <div class="centered">
                <button type="button" id="pendingButton" class="btn btn-secondary actionButton" onclick="location.href='@Url.Action("CurrentItems", "PendingItems", new {id = 2})'">Rate yourself and your peers in the group</button>
            </div>
        </div>
        <div class="split right">
            <div class="centered">
                <button type="button" id="markedButton" class="btn btn-secondary actionButton" onclick="location.href='@Url.Action("PastRounds", "Student")'">Check how well you performed in previous rounds</button>
            </div>
        </div>
    </div>
}
else if (userType.Equals("admin"))
{
    <div class="split left">
        <div class="split left">
            <div class="centered">
                <button type="button" id="pendingButton" class="btn btn-secondary actionButton" onclick="location.href='@Url.Action("CreateRound", "Round", new {id = 2})'">Create a template for a round for students</button>
            </div>
        </div>
        <div class="split right">
            <div class="centered">
                <button type="button" id="markedButton" class="btn btn-secondary actionButton">Delete users from the system</button>
            </div>
        </div>
    </div>
}
else if (userType.Equals("teacher"))
{
    <div class="split left">
        <div class="split left">
            <div class="centered">
                <button type="button" id="pendingButton" class="btn btn-secondary actionButton" onclick="location.href='@Url.Action("SelectRoundTemplate", "Round")'">Initialise a round for a specific group of students</button>
            </div>
        </div>
        <div class="split right">
            <div class="centered">
                <button type="button" id="markedButton" class="btn btn-secondary actionButton"  onclick="location.href='@Url.Action("SelectGroup", "Student")'">View the data of a particular student or a group</button>
            </div>
        </div>
    </div>
}
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>