@using Rubrics.Data
@{
    ViewData["Title"] = "Student profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Student studentModel = (Student) ViewData["Student"];
}
<div>
    <div class="text-center custom-card">
        <h5 class="card-title">Student ID : </h5>
        <p class="card-text">@studentModel.Id</p>
    </div>
   <div class="text-center custom-card">
       <h5 class="card-title">E-mail : </h5>
       <a href="mailto:@studentModel.Email">@studentModel.Email</a>
   </div>
    <div class="text-center custom-card">
        <h5 class="card-title">First Name : </h5>
        <p class="card-text">@studentModel.FirstName</p>
    </div>
   <div class="text-center custom-card">
       <h5 class="card-title">Last Name : </h5>
       <p class="card-text">@studentModel.LastName</p>
   </div>
    <div class="text-center custom-card">
        <h5 class="card-title">Date of birth: </h5>
        <p class="card-text">@studentModel.DOB</p>
    </div>
    <div class="text-center custom-card">
        <h5 class="card-title">Class Name: </h5>
        <p class="card-text">@ViewData["ClassName"]</p>
    </div>
   
</div>