@using Newtonsoft.Json
@using Newtonsoft.Json.Linq

@{
    ViewData["Title"] = "Current pending items";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //get the active rounds  rounds
    List<RoundModel> allRounds = new List<RoundModel>();
    string[] lines = System.IO.File.ReadAllLines(@"D:\data.txt");
    foreach (string line in lines)
    {
        RoundModel currentProcessRoundModel = JsonConvert.DeserializeObject<RoundModel>(line);
        if (currentProcessRoundModel.Active)
        {
            allRounds.Add(currentProcessRoundModel);
        }
    }

}


<h1 class="text-center">Pending items</h1>

@foreach (RoundModel round in allRounds)
{  
    <div class="row mt-4">
        <!--Process all rounds-->
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@round.ModuleName</h5>
                    <p>Group member : <strong>Ricards</strong></p>
                    <p>Deadline <strong>@round.Deadline</strong></p>
                    <p class="card-text mt-3">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <button type="button" class="btn btn-primary btn-block" onclick="location.href='@Url.Action("CompleteForm", "StudentForm", new {id = @round.RoundId})'">Rate</button>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@round.ModuleName</h5>
                    <p>Group member : <strong>Fabio</strong></p>
                    <p>Deadline <strong>@round.Deadline</strong></p>
                    <p class="card-text mt-3">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <button type="button" class="btn btn-primary btn-block" onclick="location.href='@Url.Action("CompleteForm", "StudentForm", new {id = @round.RoundId})'">Rate</button>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@round.ModuleName</h5>
                    <p>Group member : <strong>Yourself</strong></p>
                    <p>Deadline <strong>@round.Deadline</strong></p>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <button type="button" class="btn btn-primary btn-block" onclick="location.href='@Url.Action("CompleteForm", "StudentForm", new {id = @round.RoundId})'">Rate</button>
                </div>
            </div>
        </div>
    </div>
}